<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('../partials/head'); -%>
 <link rel="stylesheet" type="text/css" href="/stylesheets/file-server.css">
</head>

<body>

<%- include('../partials/menu'); -%> 

<div class="body">    
  <h2>File uploaded failed.</h2>
  <button class="button" onclick="window.history.back()">Go Back</button>
</div>

<%- include('../partials/footer'); -%>

</body>

<%- include('../partials/script'); -%>

</html>
