<h2><%= page.title %></h2>
<form id="upload-form" method="POST" enctype="multipart/form-data">
  <div>
    <label id="lbl-upload-file"for="upload-file">Choose File</label>
    <input id="upload-file" type="file" name="document" />
    <input type="submit" value="Upload File" class="button">
  </div>
</form>
<a href="/uploads/" class="nice-link">View All Files</a>