<div class="footer" style="visibility: hidden;">
    Mitchell Lee
     | E: <a href="mailto:mitch@zyrn.dev" target="_top" class="nice-link">mitch@zyrn.dev</a>
     | P: <a href="tel:+61416684820" class="nice-link">+61 416 684 820</a>
     | G: <a href="https://github.com/ZyrnDev" target="_blank" class="nice-link">https://github.com/ZyrnDev</a>
</div>
<footer class="footer">
    Mitchell Lee
     | E: <a href="mailto:mitch@zyrn.dev" target="_top" class="nice-link">mitch@zyrn.dev</a>
     | P: <a href="tel:+61416684820" class="nice-link">+61 416 684 820</a>
     | G: <a href="https://github.com/ZyrnDev" target="_blank" class="nice-link">https://github.com/ZyrnDev</a>
</footer>