<div id="main-menu" class="menu">
  <a href="/test/">
    <div class="menu button">
      Home
    </div>
  </a>
  <a href="/test/api">
    <div class="menu button">
    API
    </div>
  </a>
  <a href="/test/file">
    <div class="menu button">
      Files
    </div>
  </a>
  <a href="/test/error">
    <div class="menu button">
      Error Page
    </div>
  </a>
  <a href="/test/api/error">
    <div class="menu button">
      API Error Page
    </div>
  </a>
</div>