<h2><%= page.title %></h2>        
<div id="account">
  <form id="edit-form">
      <h2>ID: <%= account.id %></h2>
      <label>Email:</label>
      <br>
      <input type="text" name="guid" placeholder="Email address or Steam ID" value="<%= account.guid %>">
      <br>
      <br>
      <label>Password:</label>
      <br>
      <input type="text" name="password" placeholder="Only use this if the password has changed">
      <br>
      <input type="submit" value="Save" class="button">
      <button id="delete-button" class="button">Delete</button>
  </form>
</div>