<h2><%= page.title %></h2>
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eligendi cupiditate nulla minus eaque ducimus, corrupti, nihil atque similique natus, tempora quia tempore dolores asperiores numquam. Repellendus repellat nulla eligendi!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, impedit blanditiis veniam quis, atque earum, consectetur nihil aliquam architecto qui provident magni id? Harum cupiditate nemo maiores ipsum quos veritatis.</p>
</div>

