<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %> 
</head>

<body>

<% include partials/menu %> 

<div class="body">    
  <div class="container-fluid body">
    <div class="row">
        <div class="col-md"></div>  
        <div class="col-md-4">
          <h2><%= page.title %></h2>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eligendi cupiditate nulla minus eaque ducimus, corrupti, nihil atque similique natus, tempora quia tempore dolores asperiores numquam. Repellendus repellat nulla eligendi!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, impedit blanditiis veniam quis, atque earum, consectetur nihil aliquam architecto qui provident magni id? Harum cupiditate nemo maiores ipsum quos veritatis.</p>
          </div>
        </div>  
      <div class="col-md"></div>  
    </div>  
  </div>
</div>

<% include partials/footer %>

</body>

<% include partials/script %>

</html>
