<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %> 
</head>

<body>

<% include partials/menu %> 

<div class="body">    
  <h2><%= page.title %></h2>
</div>

</body>

<% include partials/script %>

</html>
