body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(47, 79, 79);
    color: whitesmoke;
    font-family: 'Helvetica', sans-serif;
}

input, button, .button {
    margin: 0.5em;
    padding: 0.5em 1em;
    transition-duration: 0.4s;
    background-color: rgb(47, 79, 79);
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    text-decoration: none;
}

input:hover, button:hover, .button:hover {
    background-color: rgba(245, 245, 245, 0.4);
    /* color: black; */
}

header {
    background-color: rgb(35, 65, 65);
    padding: 1em;
}
#main-menu a {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-decoration: none;
    border: none;
}
#main-menu a:hover  {
    background-color: rgba(245, 245, 245, 0.4);
}

/* #main-menu div {
    display: inline-block;
    padding: 1em;
} */

a:link {
    color: rgb(34, 203, 255);
}