body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(47, 79, 79);
    color: whitesmoke;
    font-family: 'Helvetica', sans-serif;
}

.button {
    text-transform: uppercase;
    margin: 0.5em;
    padding: 0.5em 1em;
    transition-duration: 0.4s;
    background-color: rgb(47, 79, 79);
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-decoration: none;
}

.body {
    padding: 1em;
}

.button:hover {
    background-color: rgba(245, 245, 245, 0.4);
    /* color: black; */
}

header {
    background-color: rgb(35, 65, 65);
    /* padding: 1em; */
}

.nav-link {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white !important;
    text-decoration: none;
    border: none;
}

.nav-link:hover {
    background-color: rgba(245, 245, 245, 0.4);
}

.nice-link {
    color: rgb(34, 203, 255) !important;
}